@import "./_normalize.css";

.wrapper {
  display: flex;
}

.container {
}

.content {
}

.sidenav {
}

.selectInput {
  display: block;
  border-radius: 10px;
  border: 2px solid darkgray;
  color: darkgray;
  width: 220px;
  font-size: 1rem;
  padding: 10px;
  margin: 20px 10px 0 10px;
}

.selectInput:hover,
.selectInput:focus {
  outline: none;
}

.selectList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.selectItem {
  padding: 3px 3px 3px 18px;
  width: 100%;
}

.selectItem:hover {
  background: lightgray;
}

.selectItem > a {
  display: block;
  width: 100%;
  color: darkgray;
  text-decoration: none;
  padding: 3px;
}

.selectHover {
  background: lightgray;
}
